$color: rgb(77, 116, 190);

.breadcrumbs {
   background-color: rgba(160, 220, 240, 0.221);
   height: 150px;
   display: flex;
   align-items: center;
   margin-top: 20px;

   &__items {
      margin-left: 220px;
      font-size: 24px;
      font-weight: 700;
      display: flex;
   }

   &__link {
      color: $color;
      transition: all 0.5s ease;

      &:hover {
         text-shadow: 3px 3px 5px $color;
      }
   }

   &__select-page {
      color: $color;

      &::before {
         content: '/';
         margin: 0 10px;
      }
   }
}
