@import url(https://fonts.googleapis.com/css?family=Caveat:regular,500,600,700);

@import 'nullStyle';

body {
   font-family: Arial;
   letter-spacing: 1px;
}

.wrapper {
   max-width: 1440px;
   height: 100%;
   margin: 0 auto;
}

@import 'header';

@import 'breadcrumbs';

.info {
   &__container {
      max-width: 600px;
      margin: 60px auto;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__title {
      margin-bottom: 25px;
      font-weight: 700;
      font-size: 28px;

      &::before {
         content: '/';
         margin: 0 10px;
         color: brown;
      }
   }

   &__text {
      color: rgb(77, 116, 190);
      line-height: 2;
   }
}

@import 'cart';
